.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}
.item-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-gray{
    background-color: rgb(18 18 18);
}
.rounded{
    border-radius: 7px;
}
.m1{
    margin: 20px;
}
.p1{
    padding: 10px;
}