.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}
.item-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-gray{
    background-color: rgb(18 18 18);
}
.rounded{
    border-radius: 7px;
}
.m1{
    margin: 20px;
}
.p1{
    padding: 10px;
}

/* ===== Chrome, Edge, Safari ===== */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f;          /* dark background */
}

::-webkit-scrollbar-thumb {
  background: #2b2b2b;          /* scrollbar color */
  border-radius: 8px;
  border: 2px solid #0f0f0f;     /* space effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #3d3d3d;
}

/* ===== Firefox ===== */
* {
  scrollbar-width: thin;
  scrollbar-color: #2b2b2b #0f0f0f;
}
